.KudosBoardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: flex-start;
  padding-top: 20px;
}

.checkBoxContainer {
  margin-top: 10px;
}
.createForm {
}
