.KudosBoardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Allows wrapping of cards if the container is too small */
  gap: 16px; /* Adds space between cards */
  padding-left: 10%;
  padding-right: 10%;
  justify-content: flex-start;
  padding-top: 20px;
}

.checkBoxContainer {
  margin-top: 10px;
}
.createForm {
}
